@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #222;
  --content-width: 50rem;
  --border-radius: 4px;
  --accent-color: (70, 130, 180);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styles
============================================================= */

body {
  font-family: "Poppins";
}

body:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../src/images/background_image.jpg");
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
}

h1 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 7rem;
}

button {
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.7em 1.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* utility classes
============================================================== */

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* header
=============================================================== */

.header {
  background-color: var(--primary-color);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.header nav a {
  font-size: 1.3rem;
}

.header nav a {
  margin-left: 1rem;
}

.header nav a:hover {
  font-weight: bold;
}

.header nav a.active {
  color: steelblue;
  font-weight: bold;
}

/* forms
======================================================= */

form {
  font-size: 1.2rem;
  padding: 2em 4em;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
}

.form-title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-field label {
  font-style: italic;
  color: rgba(0, 0, 0, 0.9);
}

.form-field input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.2em 0em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.form-field input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.form-field input:disabled {
  cursor: not-allowed;
  border-bottom: 1px solid grey;
}

form button {
  width: 100%;
  margin-top: 2rem;
  font-size: 1rem;
}

.form-field-error {
  color: rgb(187, 0, 0);
  font-size: 0.9rem;
  height: 0.5rem;
}

/* footer
====================================== */

.footer {
  background-color: var(--primary-color);
  color: white;

  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1em;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.6);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .creator {
  margin-right: 2rem;
}

/* logo
=================================================================== */

.logo {
  width: 2.5em;
  height: 2.5em;
  font-style: italic;
  font-weight: bold;
  color: white;
}

.logo-container {
  position: absolute;
}

.logo-container div {
  border-radius: 50%;
}

.logo-container .letter-first {
  background-color: steelblue;
  position: relative;
  top: 0;

  font-size: 1.7em;
  width: 1.3em;
  height: 1.3em;
}

.logo-container .letter-second {
  background-color: lightseagreen;
  position: relative;
  right: 0;
  top: -1.48em;
  left: 1.55em;

  width: 1.5em;
  height: 1.5em;
  z-index: 2;
}

/* banner
======================================= */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17rem;
}

.banner .logo {
  margin-right: 4rem;
  font-size: 3rem;
}

/* home buttons
========================================== */

.home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
}

.home-buttons button {
  font-size: 1.4rem;
  display: inline-block;
  text-wrap: nowrap;
}

/* react-toastify
============================================= */

.toast-container {
  top: 8rem;
}

.toast {
  font-family: "Poppins";
  color: var(--primary-color);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
}
